<div class="container w-50">
    <mat-card [formGroup]="form" class="d-flex flex-column p-3 border">
        <mat-card-title class="m-2 p-1"> Importar Arquivo </mat-card-title>
        <mat-card-content class="row m-0 mt-3">
            <mat-form-field>
                <mat-label>Selecione a operadora</mat-label>
                <mat-select [disabled]="disabled" class="" formControlName="operadora">
                    <mat-option *ngFor="let operadora of operadoras" [value]="operadora.id">
                        {{ operadora.name }}
                    </mat-option>
                </mat-select>
            </mat-form-field>
            <mat-form-field>
                <mat-label>Selecione o tipo de arquivo</mat-label>
                <mat-select class="" formControlName="fileType">
                    <mat-option *ngFor="let file of fileTypes" [value]="file.id">
                        {{ file.name }}
                    </mat-option>
                </mat-select>
            </mat-form-field>
            
            <mat-form-field class="col-6">
                <mat-label>Selecione o mês</mat-label>
                <mat-select formControlName="month" class="">
                    <mat-option *ngFor="let month of months" [value]="month.id">
                        {{ month.id + ' - ' + month.name }}
                    </mat-option>
                </mat-select>
            </mat-form-field>
            <mat-form-field class="col-6">
                <mat-label>Selecione o ano</mat-label>
                <mat-select formControlName="year" class="">
                    <mat-option *ngFor="let year of Years" [value]="year">
                        {{ year }}
                    </mat-option>
                </mat-select>
            </mat-form-field>
            <div class="col-12 mt-3">
                <input
                    id="file"
                    formControlName="file"
                    type="file"
                    class="form-control w-100"
                    (change)="fileChanged($event)"
                />
            </div>
        </mat-card-content>
        <mat-card-footer class="m-2 p-1 mt-3">
            <button mat-raised-button color="accent" type="btn" (click)="import()" class="btn btn-primary w-100">
                Importar
            </button>
        </mat-card-footer>
    </mat-card>
</div>
